:root {

    --mdb-link-hover-color: #1A605D !important;
  }

  .breadcrumbs {
    border: 1px solid #cbd2d9;
    border-radius: 0.3rem;
    display: inline-flex;
    overflow: hidden;
    margin-top: 30px;
  }

  .breadcrumbs__item {
    background: #fff;
    color: #333;
    outline: none;
    padding: 0.75em 0.75em 0.75em 1.25em;
    position: relative;
    text-decoration: none;
    transition: background 0.2s linear;
  }

  .breadcrumbs__item:hover:after,
  .breadcrumbs__item:hover {
    background: #edf1f5;
  }

  .breadcrumbs__item:focus:after,
  .breadcrumbs__item:focus,
  .breadcrumbs__item.is-active:focus {
    background: #323f4a;
    color: #fff;
  }

  .breadcrumbs__item:after,
  .breadcrumbs__item:before {
    background: white;
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 1em;
    z-index: 1;
  }

  .breadcrumbs__item:before {
    background: #cbd2d9;
    margin-left: 1px;
  }

  .breadcrumbs__item:last-child {
    border-right: none;
  }

  .breadcrumbs__item.is-active {
    background: #edf1f5;
  }

  /* Some styles to make the page look a little nicer */

  .border-subject-row {
    padding: 20px 15px;
  }

  .border-subject {
    color: #090a0a;
    background: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    border-color: #2B8482;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 2px, inset rgba(0, 0, 0, 0.08) 0px -5px 20px;
    background-clip: padding-box;
  }

  .title-subject {
    padding: 0;
    margin: 0 0 5px 0;
    min-width: 0;
    margin-right: auto;
    font-weight: bold;
  }

  .newsubject {
    margin: auto;
    height: 48px;
    align-items: center;
    justify-content: center;
    margin-top: 2.5px;
  }

  .main_right a,
  .main_right p,
  .main_right li,
  .content-text p {
    font-size: 12px;
  }

  .main_right ul {
    list-style: none;
  }
  
 

  .orangeBtn {
    background-color: #D8601D;
    color: white;
}

.orangeBtn:hover {
    background: #d2450d;
    color: white;
}


.owlgreenBtn {
  color: #2B8482;
}

.owlgreenBtn:hover {
  color: #1A605D;
}

.owlgreenBtn2 {
  color: #2B8482;
}

.owlgreenBtn2:hover {
  color: #2B8482;
}

.closeBtn{
  background-color: #f0c37f;
  color: white;
}
.closeBtn:hover{
  background-color: #f0b966;
  color: white;
}

.modal-footer{

  justify-content: center !important;
}

.active>.page-link,
.page-link.active {
  color: #1A605D;
  background-color: #aed8d7;
}

 @media (max-width: 992px) {
    .displayBtn {
      display: none;
    }
  }