{% extends 'base.html' %}

{% load static %}

{% block css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');


    .bg {
        height: 200px;
        background-image: url("{% static 'img/banner.png' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }

    .navbg {
        background: #D8601D;
    }

    .btncolor {
        background-color: #D8601D;
    }

    .btncolor:hover {
        background: #d8521d;
    }

    .nlink {

        font-family: 'Blinker', sans-serif;
        font-size: 17px !important;

    }

    .nlink2 {
        font-family: 'Blinker', sans-serif;
    }

    .hover-shadow:hover {
        background: #cf6135;
    }

    .modal-fullscreen {
        height: 70px;
    }

    .deleteBtn {

        background: #D8601D;
        color: white;
    }

    .deleteBtn:hover {

        background: #d8521d;
        color: white;

    }



    @media (max-width: 992px) {

        .logbox {
            display: none;
        }

        .p-image {
            display: none;
        }

        .p-owl {
            display: none;
        }

        .container-fluid {
            padding-left: 5px !important;
        }


    }

    @media (min-width: 992px) {

        .logbox2 {
            display: none;
        }

        .indexBtn {
            display: none;
        }

        .pimg {
            display: none;
        }

    }

    @media (max-width: 660px) {

        .modal-fullscreen {
            height: 110px;
        }

        .account {
            display: block !important;
        }

        .accountBtn {
            margin: 8px 0 0 60px !important;
        }
    }


    @media (max-width: 575px) {

        .e-spc {
            margin-top: 15px;
        }

        .spc {
            margin-top: 25px;
        }

        .text-mb {
            margin-bottom: 0.3rem !important;
        }
    }

    @media (max-width: 405px) {
        .modal-fullscreen {
            height: 103px;
        }

        .modal-title {
            margin-left: 20px !important;
            font-size: 16px !important;
        }
    }

    @media (max-width: 355px) {
        .modal-fullscreen {
            height: 100px;
        }

        .modal-title {
            font-size: 14px !important;
        }

        .accountBtn {
            margin-left: 40px !important;
        }
    }

    @media (max-width: 320px) {
        .modal-fullscreen {
            height: 98px;
        }

        .modal-title {
            font-size: 13px !important;
        }

        .accountBtn {
            margin-left: 30px !important;
        }
    }
</style>
{% endblock css %}


{% block header %}


<nav class="position-relative">
    <!-- DOWN (menu and search area) -->
    <div class="position">
        <div class="navbar navbar-expand-lg navbg ">
            <div class="container-fluid  px-lg-5 px-md-3 px-sm-2 ">
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="">
                    <div class="collapse navbar-collapse d-flex" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown pimg">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                    data-mdb-toggle="dropdown" aria-expanded="false">
                                    <img style="width: 30px; height: 30px; object-fit: cover; border-radius: 50%;"
                                        src="" alt="">

                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="{% url 'accountUser' %}">Hesap Ayarları</a>
                                    </li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" href="{% url 'logoutUser' %}">Oturumu Kapat</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>



                <div class="collapse navbar-collapse w-100" id="navbarTogglerDemo03">


                    <a class="navbar-brand me-2 mb-1 d-flex" href="/">

                        <img class="p-owl" src="{% static 'img/owl.png' %}" height="70" width="70" alt="MDB Logo"
                            style="margin-top: 2px;" />
                    </a>


                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">

                        <li class="nav-item">
                            <a class=" indexBtn nlink nav-link text-white fw-semibold rounded-pill fs-5 hover-shadow"
                                aria-current="page" href="/"><i class="pe-2 fas fa-house-chimney"></i>Anasayfa</a>
                        </li>

                        <li class="nav-item">
                            <a class="nlink nav-link text-white fw-semibold rounded-pill fs-5 hover-shadow"
                                href="{% url 'forumDetail' %}"><i class="pe-2 fas fa-comments"></i>Forumlar</a>
                        </li>


                        <li class="nav-item">
                            <a class="nlink nav-link text-white fw-semibold rounded-pill fs-5 hover-shadow" href="#"><i
                                    class="pe-2 fas fa-star"></i>Neler Yeni?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nlink nav-link text-white fw-semibold rounded-pill fs-5 hover-shadow" href="#"><i
                                    class="pe-2 fas fa-user-astronaut"></i>Kullanıcılar</a>
                        </li>

                    </ul>

                    <div class="d-flex input-group w-auto position-relative">
                        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown p-image">

                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                        <img style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;"
                                            src="{{ request.user.profile.image.image.url }}" alt="">

                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'accountUser' %}">Hesap Ayarları</a>
                                        </li>
                                        <hr class="dropdown-divider">
                                        <li><a class="dropdown-item" href="{% url 'logoutUser' %}">Oturumu Kapat</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>








            </div>
        </div>


    </div>

</nav>


{% endblock header %}

{% block main %}

<div class="container pt-5" style="min-height: 70vh;">
    <div class="row">
        <div>

            <div class="row">
                <h1>Hesap Ayarları</h1>
                <hr>



                <div class="col-sm-4 mt-2">
                    <h4>Üyelik</h4>
                    <div class="col-sm-12 ">
                        <div class="mb-3">

                            <img class="rounded-5" style="width: 100px; height: 100px; object-fit: cover;"
                                src="{{ request.user.profile.image.image.url }}" alt="">



                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div>
                            <button class="btn btn-light border mb-3" href="" data-mdb-toggle="modal"
                                data-mdb-target="#profilePicture">
                                Profil Fotoğrafını değiştir
                            </button>
                            <!-- Photograph Modal -->
                            <div class="modal fade" id="profilePicture" data-mdb-backdrop="static"
                                data-mdb-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <form method="POST" enctype="multipart/form-data" class="modal-content">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel"> Profili Düzenle</h1>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body d-flex align-items-center gap-3">
                                            <img class="pimage rounded-5"
                                                style="border: 2px solid #333; width: 100px; height: 100px; object-fit: cover;"
                                                src="{{ request.user.profile.image.image.url }}" alt="" id="imagePreview">
                                            <div>
                                                <input type="text" name="pname2" value="{{ request.user.username }}"
                                                    class="form-control my-3" placeholder="Profil Adı">
                                                <input type="file" name="image2" id="" onchange="imageChange(this)"
                                                    class="dataimage form-control my-3">
                                                <input type="hidden" name="id" value="{{ request.user.profile.id }}">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="submit" value="profileChange"
                                                class="btn btn-primary">Güncelle</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                    <script>
                        function imageChange(input) {
                            var imagePreview = document.getElementById('imagePreview');
                            var file = input.files[0];
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                imagePreview.src = e.target.result;
                            };

                            reader.readAsDataURL(file);
                        }
                    </script>

                    <!-- Hesap sil modal -->
                    <div class="col-sm-12">
                        <div>
                            <button class="btn btn-light border mb-5" data-mdb-toggle="modal"
                                data-mdb-target="#subscribeModal">Hesabı Sil</button>
                            <div class="modal fade" id="subscribeModal" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-fullscreen">
                                    <form method="POST" class="modal-content">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <div class="account d-flex m-auto">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                    Hesabını silmek istediğine emin misin?
                                                </h1>
                                                <div class="ms-5 accountBtn">
                                                    <button type="button" class="btn btn-dark" data-mdb-dismiss="modal"
                                                        aria-label="Close">Vazgeç</button>
                                                    <button type="submit" name="submit" value="subscribeUnfollow"
                                                        class="deleteBtn btn">Hesabı sil</button>
                                                </div>

                                            </div>

                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>





                </div>


                <div class="col-sm-8 mt-2">
                    <strong> Kullanıcı adı: {{ request.user.username }} </strong>

                    <p class="mt-3">Doğum tarihi: {{ request.user.profile.birthday }}</p>
                    <div class="row">
                        <div class="col-sm-6 e-spc">
                            <p class="text-mb">Email: {{ request.user.email|slice:":5"}}...{{request.user.email|slice:"-10:" }}</p>

                        </div>
                        <div class="col-sm-6">
                            <a href="" data-mdb-toggle="modal" data-mdb-target="#e-mail">
                                E-Mail Değiştir
                            </a>

                            <!--Email Form -->
                            <div class="modal fade" id="e-mail" data-mdb-backdrop="static" data-mdb-keyboard="false"
                                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <form method="POST" class="modal-content">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Email Değiştir</h1>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="">Yeni Email</label>
                                            <input type="email" name="email" class="form-control">

                                            <label for="">Şifreyi giriniz</label>
                                            <input type="password" name="password" class="form-control">

                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="submit" value="emailUpdate"
                                                class="btn btn-primary">Güncelle</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 spc">
                            <p class="text-mb">Parola:
                                {{request.user.profile.password|first}}******{{request.user.profile.password|last }}
                            </p>

                        </div>

                        <div class="col-sm-6 ">

                            <!-- Şifre Form -->
                            <div>
                                <a href="" data-mdb-toggle="modal" data-mdb-target="#password">
                                    Parolayı Değiştir
                                </a>
                                <div class="modal fade" id="password" tabindex="-1" aria-labelledby="passwordLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <form method="POST" class="modal-content">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Parolayı Değiştir
                                                </h1>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="">Eski parolayı Giriniz</label>
                                                <input type="password" name="password" class="form-control">

                                                <label for="">Yeni Parola</label>
                                                <input type="password" name="password1" class="form-control">

                                                <label for="">Yeni Parola Tekrar</label>
                                                <input type="password" name="password2" class="form-control">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" name="submit" value="passwordUpdate"
                                                    class="btn btn-primary">Güncelle</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 spc">
                            <p class="text-mb">tel: {{ request.user.profile.phone }}</p>
                        </div>
                        <div class="col-sm-6 mb-5">
                            <!-- Telefon Form -->
                            <div>
                                <a href="" data-mdb-toggle="modal" data-mdb-target="#telephone">
                                    Telefon Değiştir
                                </a>
                                <div class="modal fade" id="telephone" tabindex="-1" aria-labelledby="telephoneLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <form method="POST" class="modal-content">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Telefon Değiştir
                                                </h1>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="">Yeni Telefon</label>
                                                <input type="tel" name="tel" class="form-control">

                                                <label for="">Şifreyi giriniz</label>
                                                <input type="password" name="password" class="form-control">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" name="submit" value="telUpdate"
                                                    class="btn btn-primary">Güncelle</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>







                </div>



            </div>

        </div>




    </div>
</div>
</div>
{% endblock main %}