{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="container">
    <div class="forum-istatistik mt-5">
        <!-- Forum İstatistik Tabs navs -->
        <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex-with-icons-tab-1" data-mdb-toggle="tab" href="#ex-with-icons-tabs-1"
                    role="tab" aria-controls="ex-with-icons-tabs-1" aria-selected="true">
                    <i class="far fa-comment-dots me-2"></i>
                    YENİ MESAJ
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex-with-icons-tab-2" data-mdb-toggle="tab" href="#ex-with-icons-tabs-2"
                    role="tab" aria-controls="ex-with-icons-tabs-2" aria-selected="false">
                    <i class="far fa-comments me-2"></i>
                    YENİ KONULAR
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex-with-icons-tab-3" data-mdb-toggle="tab" href="#ex-with-icons-tabs-3"
                    role="tab" aria-controls="ex-with-icons-tabs-3" aria-selected="false">
                    <i class="fas fa-person me-2"></i>
                    KONU DIŞI
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex-with-icons-tab-3" data-mdb-toggle="tab" href="#ex-with-icons-tabs-4"
                    role="tab" aria-controls="ex-with-icons-tabs-4" aria-selected="false">
                    <i class="fas fa-poo me-2"></i>
                    POPÜLER KONULAR
                </a>
            </li>
        </ul>
        <!-- Tabs navs -->

        <!-- Forum İstatistik Tabs content -->
        <div class="tab-content" id="ex-with-icons-content">
            <div class="tab-pane fade show active" id="ex-with-icons-tabs-1" role="tabpanel"
                aria-labelledby="ex-with-icons-tab-1">
                <!--  -->
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>Konu</th>
                            <th>Forumu</th>
                            <th>Cevap</th>
                            <th>Hit</th>
                            <th>Gönderim</th>
                            <th>Son Yazan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                        style="width: 45px; height: 45px" class="rounded-circle" />
                                    <div class="ms-3">
                                        <p><a href="#" data-mdb-toggle="tooltip" title="Hi! I'm tooltip">valorantta bu
                                                hatayı alıyorum yardım</a>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Forumu">PC oyunları</a></p>
                            </td>
                            <td>
                                <p data-mdb-toggle="tooltip" title="Cevap">4</p>
                            </td>
                            <td>
                                <p data-mdb-toggle="tooltip" title="Hit">4</p>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Gönderim">Az Önce</a></p>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Son Yazan">Yumurtacii</a></p>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                        style="width: 45px; height: 45px" class="rounded-circle" />
                                    <div class="ms-3">
                                        <p><a href="#" data-mdb-toggle="tooltip" title="Hi! I'm tooltip">valorantta bu
                                                hatayı alıyorum yardım</a>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Forumu">PC oyunları</a></p>
                            </td>
                            <td>
                                <p data-mdb-toggle="tooltip" title="Cevap">4</p>
                            </td>
                            <td>
                                <p data-mdb-toggle="tooltip" title="Hit">4</p>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Gönderim">Az Önce</a></p>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Son Yazan">Yumurtacii</a></p>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                        style="width: 45px; height: 45px" class="rounded-circle" />
                                    <div class="ms-3">
                                        <p><a href="#" data-mdb-toggle="tooltip" title="Hi! I'm tooltip">valorantta bu
                                                hatayı alıyorum yardım</a>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Forumu">PC oyunları</a></p>
                            </td>
                            <td>
                                <p data-mdb-toggle="tooltip" title="Cevap">4</p>
                            </td>
                            <td>
                                <p data-mdb-toggle="tooltip" title="Hit">4</p>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Gönderim">Az Önce</a></p>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Son Yazan">Yumurtacii</a></p>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                        style="width: 45px; height: 45px" class="rounded-circle" />
                                    <div class="ms-3">
                                        <p><a href="#" data-mdb-toggle="tooltip" title="Hi! I'm tooltip">valorantta bu
                                                hatayı alıyorum yardım</a>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Forumu">PC oyunları</a></p>
                            </td>
                            <td>
                                <p data-mdb-toggle="tooltip" title="Cevap">4</p>
                            </td>
                            <td>
                                <p data-mdb-toggle="tooltip" title="Hit">4</p>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Gönderim">Az Önce</a></p>
                            </td>
                            <td>
                                <p><a href="#" data-mdb-toggle="tooltip" title="Son Yazan">Yumurtacii</a></p>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="ex-with-icons-tabs-2" role="tabpanel" aria-labelledby="ex-with-icons-tab-2">
                Tab 2 content
            </div>
            <div class="tab-pane fade" id="ex-with-icons-tabs-3" role="tabpanel" aria-labelledby="ex-with-icons-tab-3">
                Tab 3 content
            </div>
            <div class="tab-pane fade" id="ex-with-icons-tabs-4" role="tabpanel" aria-labelledby="ex-with-icons-tab-4">
                Tab 4 content
            </div>
        </div>
        <!-- Tabs content -->
    </div>
    <div class="row">
        <div class="col-9">
            <div class="forumlar mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4>Oyunlar</h4>
                        <small>Oyunlar Hakkında Herşey!!</small>
                    </div>
                </div>
                <div class="card games mt-3">
                    <div class="card-body">
                        <div>
                            <a href=""><i class="fas fa-headset"></i>Online Oyunlar</a>
                            <a href=""><i class="fas fa-table-tennis-paddle-ball"></i>Eşli Oyunlar</a>
                            <a href=""><i class="fas fa-puzzle-piece"></i>Tek Kişilik Oyunlar</a>
                            <a href=""><i class="fas fa-gamepad"></i>PvP Serverlar</a>
                            <a href=""><i class="fab fa-fantasy-flight-games"></i>MOBA Oyunlar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sunt cupiditate error
                        voluptate, et minus qui? Vero incidunt eaque velit?</p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock main %}