{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/messagePost.css' %}">
{% endblock css %}


{% block main %}
    <main>
        <!-- Comment -->
        <div class="container mb-5">
            <!-- page next -->
            <div class="row mb-2">
                <div class="col-9">
                    <nav class="breadcrumbs">
                        <a href="#home" class="breadcrumbs__item">Anasayfa</a>
                        <a href="#shop" class="breadcrumbs__item">{{ game.categoryName }}</a>
                        <a href="#cart" class="breadcrumbs__item">{{ game.gameName }}</a>

                    </nav>
                </div>
            </div>
            <!-- page next-end -->

            <!-- subject name start -->
            <div class="row mb-5">
                <div class="col">
                    <div class="row mt-2">
                        <div class="col border-subject">
                            <div class="p-title p-2">
                                <h4 class="title-subject">Yeni Konu Aç</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- subject name end -->

            <!-- comment text -->
            <div class="card mt-5 post">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="subject" value="{{ comments.id }}">
                        <input class="form-control my-2" name="subject" type="text" placeholder="Konu">
                        <div class="form">
                            {{ form.media }}
                            {{ form.as_p }}
                        </div>
                            <button type="submit" class="btn btn-primary my-2 btn-success" type="submit">
                                Yeni Konu Aç
                            </button>
                            <button type="button" style="border: 1px solid rgba(128, 128, 128, 0.854); float: right;  margin-top:10px;"
                                class="btn btn-warning"><i class="fa-solid fa-paperclip " style="padding-right:7px;"></i>
                                Dosya Ekle
                            </button>
                    </form>
                </div>
            </div>
        </div>

    </main>
{% endblock main %}