{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/postDetail.css' %}">
{% endblock css %}


{% block main %}
    <main>
        <!-- Comment -->
        <div class="container mb-5">
            <!-- page next -->
            <div class="row mb-2">
                <div class="col-9">
                    <nav class="breadcrumbs">
                        <a href="{% url 'dashboardPage' %}" class="breadcrumbs__item">Anasayfa</a>
                        <a href="#shop" class="breadcrumbs__item">{{ games.categoryName }}</a>
                        <a href="#cart" class="breadcrumbs__item">{{ games.gameName }}</a>
                    </nav>
                </div>
            </div>
            <!-- page next-end -->

            <!-- subject name start -->
            <div class="row mb-5">
                <div class="col">
                    <div class="row mt-2">
                        <div class="col border-subject">
                            <div class="p-title d-flex">
                                <h1 class="title-subject">{{ subject.subjectBrand }}</h1>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="new-subject">
                                        <input type="hidden" value="yenikonu" name="yenikonu">
                                    </div>
                                </form>
                            </div>
                            <div class="d-flex">
                                <div class="me-5"><i class="fas fa-baby"></i> <small>{{ subject_author.author }}</small>
                                </div>
                                <div><i class="far fa-clock"></i> <small>{{ subject_author.date_now }}</small></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- subject name end -->

            <!-- comment card start -->
            <div class="row ">
                <div class="col-12">
                    {% for i in comments %}
                        <div class="card mb-2 ">
                            <div class="d-flex post">
                                <div class="card-header p-0 py-3 border-0">
                                    <div class="comment border-end m-auto px-4 ">
                                        <div class="m-auto my-2" style="width: fit-content;">
                                            <img style="width: 125px; height: 125px; border:2px solid #00000030 ; border-radius: 50%;"
                                                src="{{ i.image.image.url }}" alt="">
                                        </div>
                                        <div class="m-auto p-2 text-center" style="width: 200px;">
                                            <h5 class="m-0 d-inline m-auto" style="width: fit-content; ">{{ i.author }}</h5>
                                            <p class="mt-2" style="text-align:left;"><b class="me-3">Katılım :</b> 
                                                {{i.author.date_joined|date:"SHORT_DATE_FORMAT" }}
                                            </p>
                                            <p class="me-1" style="text-align:left;"><b class="me-1">Mesajlar :</b> 
                                                {{i.author.profile.comment_user }}
                                            </p>
                                            <!-- <h6 style="min-width:50px; font-size: 12px;"> {{ i.date_now }} </h6> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="d-block w-100">
                                    <div class="card-header mt-3">
                                        <div class="d-flex justify-content-between">
                                            <p style="font-size: small;" data-mdb-toggle="tooltip" title="{{ i.date_now }}"> 
                                                {{i.date_now|naturaltime }} 
                                            </p>
                                            
                                            {% if request.user.id == i.author.id or request.user.is_superuser  %}  
                                                <button type="submit" class="btn-close" aria-label="Close" data-mdb-toggle="modal"
                                                    data-mdb-target="#deleteAlert{{ i.id }}"></button> 
                                                <!-- Modal -->
                                                <div class="modal fade" id="deleteAlert{{ i.id }}" tabindex="-1" aria-labelledby="deleteAlertLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-body text-center">
                                                            <h5>Mesajı silmek istediğinize emin misiniz?</h5>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn closeBtn" data-mdb-dismiss="modal">Vazgeç</button>
                                                            <form method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="id" value="{{ i.id }}">  
                                                                <button style="width:100px;" type="submit" name="submit" value="commentDelete" class="btn orangeBtn">Sil</button>
                                                            </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                     
                                            {% endif %} 
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>{{ i.text|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                    {% if request.user.is_authenticated %}
                        <!-- comment text -->
                        <div class="card mt-5 ">
                            <div class="card-body post-bg">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form">
                                        {{ form.media }}
                                        {{ form.as_p }}
                                    </div>

                                    <button type="submit" class="btn orangeBtn my-2" type="submit">Paylaş</button>
                                
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <div class=" d-flex justify-content-end w-100">
                            <a href="{% url 'loginPage' %}" type="button" class="btn orangeBtn button-text">
                                Mesaj yazabilmek için lütfen giriş yapınız
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock main %}

