{% extends 'base.html' %}
{% load static %}



{% block main %}
<main>

<!-- Comment -->
<div class="container my-5">
    <div class="card">
        <div class="card-header">
            
            {% for i in comments %}
            <div class="comment d-flex">
                <h5 style ="min-width: 180px;">{{ i.fname }}</h5>
                <h6 style ="min-width:50px; font-size: 12px;"> {{ i.date_now }} </h6>
                <p class = "ms-5 ps-5 border-start" style="min-height: 100px;">{{ i.text }}</p>
            </div>
                
            {% endfor %}
                
        </div>


        <div class="card-body">
        
            <form action="{% url 'postDetail' %}"  method="POST">
                {% csrf_token %}
                <input class="form-control my-2" name = "kname" type="text" placeholder = "Konu">
                <input class="form-control my-2" name = "fname" type="text" placeholder = "İsim Soyisim">
                <div>
                     
                 <div class="iconlar my-0">
                      <div class="div2" style="width:720px; height:55px">
                        <i style="padding-left: 10px;" class="fas fa-eraser"></i>
                        <span></span>
                       <span>
                      </span> <i style="padding-left: 10px;" class="fas fa-italic"></i>   
                        <span></span> 
                        <i class="fas fa-quote-left"></i>
                        <i class="fas fa-paragraph"></i>
                        <span></span>
                        <span></span>
                        <i class="fas fa-comment my-2"style="padding-left: 10px;"></i>
                        <span></span>
                        <i class ="fas fa-heading" style="padding-left: 10px;"></i>
                        <span></span>
                        <i class="fas fa-file-word"style="padding-left: 10px;"></i>
                        <span></span>
                        <i class="fas fa-font"></i>                     
                        <span></span>
                        <i class="fas fa-align-center"style="padding-left: 10px;"></i>
                        <span></span>
                        <i class="fas fa-step-forward"style="padding-left: 10px;"></i>
                        <span></span>
                        <i class="fas fa-align-justify"style="padding-left: 10px;"></i>
                        <span></span>
                        <i class="fas fa-palette"style="padding-left: 15px;"></i>
                        <span></span>
                        <span></span>
                        <i class="far fa-comment-dots"style="padding-left: 10px;"></i>
                        <span></span>
                        <i class="fas fa-circle-notch"style="padding-left: 10px;"></i>
                        <span></span>
                        <i class="fas fa-print"style="padding-left: 10px;"></i>
                        <span></span>
                        <i class="fas fa-text-size"style="padding-left: 10px;"></i>
                        <i class="fa-solid fa-envelopes-bulk"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-database"></i>
                        <i class="fa-regular fa-image"style="padding-left: 40px;"></i>
                        <i class="fa-regular fa-user"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-table"></i>
                        <i class="fa-solid fa-arrow-up-wide-short"></i>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span></span>
                      </div>
                
                <textarea class="form-control my-2" name = "text" placeholder="Yorum" cols="30" rows="10"></textarea>
                <button type="submit" class="btn btn-primary my-2" type="submit">Paylaş</button>
                <button type="button" style="border: 1px solid rgba(128, 128, 128, 0.854); float: right;  margin-top:10px;"class="btn btn-" ><i class="fa-solid fa-paperclip "style="padding-right:7px;"></i>Dosya Ekle</button>
            </form>
        </div>
    </div>

</div>
</main>
{% endblock main %}
