{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="css/search.css">
{% endblock css %}

{% block main %}
    <div class="container pt-2 pb-5" >
        <div class="row">
            <div class="col">
                <nav class="breadcrumbs">
                    <a href="{% url 'dashboardPage' %}" class="breadcrumbs__item">Anasayfa</a>
                    <a href="" class="breadcrumbs__item">Ara</a>
                </nav>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col border-subject ">
                <div class="p-title">
                    <h1 class="title-subject">Arama Sonucu: {{ search_post|title }}</h1>
                    {% if posts %}
                    <small><q><strong>{{ search_post|title }}</strong></q> ile ilgili {{ posts|length }} sonuç bulundu.</small>
                    {% endif %} 
                </div>
            </div>
        </div>

        <!--  subject table -->
        
        {% if posts %}
        <div class="row mt-3 mb-5">
            <div class="col">
                {% for result in posts %}
                    <table class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                        <tr>
                            <th style="padding: 25px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-tr">
                            <td>
                                <div class="ms-3">
                                    <a href="{% url 'postDetail' result.game_cate.slug result.subject_brand.slug  %}">
                                        <p>{{ result.subject_brand|safe|title }}</p>
                                    </a>
                                    <p>
                                        {{ result.text|safe }}
                                    </p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>
            
        {% else %}
            <div class="alert alert-warning d-flex align-items-center mt-3">
                <i class="fas fa-triangle-exclamation me-3"></i>
                <div>
                Henüz hiçbir yazı bulunmuyor.
                </div>
            </div>
        {% endif %}
    </div>
{% endblock main %}