{% load static %}

<footer class="p-footer">
    <div class="footer-con px-4">
        <div class="p-footer-row">
            <div class="p-footer-row-main">
                <ul class="footer-linkList">
                    <li><a href="#">
                            <i class="fa fa-paint-brush " aria-hidden="true"></i> Dimension
                        </a></li>
                    <li class="footer-icon"><a href="#"><i class="fa fa-toggle-on" aria-hidden="true"></i></a>
                    </li>
                    <li class="footer-icon">
                        <a href="#">
                            <i class="fa--xf far fa-moon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li><a href="#">
                            <i class="fa fa-globe" aria-hidden="true"></i> Türkçe (TR)</a></li>
                </ul>
            </div>
            <div class="footer-row-right">
                <ul class="footer-linkList">
                    <li><a href="#">Bize ulaşın</a></li>
                    <li><a href="#">Kullanım şartları</a></li>
                    <li><a href="#">Gizlilik Bildirimi</a></li>
                    <li><a href="#">Yardım</a></li>
                    <li><a href="#">Ana Sayfa</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-align">
            <div>
                <div class="footer-copyright">
                    <a href="#" class="footer-info">Community
                        platform by XenForo<sup>®</sup> <span class="copyright">©
                            2010-2022 XenForo Ltd.</span></a>
                    <div style="margin: 0 auto;"><a href="#">[XGT] Forum
                            statistics system <span> - XenGenTr</span></a></div>
                    <span class="brand">
                        <a href="#">Tembel Baykuş</a> Tüm
                        hakları saklıdır.
                    </span>
                </div>
            </div>
            <div>
                <ul class="tembelbaykus-social">
                    <li><a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-youtube"></i></a></li>
                    <li> <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li> <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-twitter"></i></a></li>
                    <li><a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                                class="fab fa-discord"></i></a></li>
                    <li><a class="btn btn-outline-light btn-floating m-1" href="mailto:tembelbaykus@gmail.com"
                            role="button"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>